/*
 * KURSUSBASEN 2012
 * Site-wide CSS
 */

html {
	background: #eee url(noise.gif);
}

body {
	background: transparent url(contentshadow.png) no-repeat center top;
	text-align: center;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #666;
	line-height: 1.6em;
	font-size: small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;
}
html>body { font-size: small; }

p.top { margin-top: 0; }
p.bottom { margin-bottom: 0; }

h1, h2, h3, h4, h5, h6, strong {
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	line-height: normal;
}

a {
	color: #29d;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#container {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	/*overflow: hidden;*/
}

html, body, #container {
	height: 100%;
}

#inner {
	min-height: 100%;
	background-color: #fff;
}

/* Head
------------------------------------------------------ */

#head, #home #searchform {
	position: relative;
	overflow: hidden;
	background-color: #bf2f38;
	/* bf2f38 9b232a */
	background-image: gradient(linear, left top, left bottom, from(#bf2f38), to(#9b232a)); 
	background-image: -moz-linear-gradient(top, #bf2f38, #9b232a); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bf2f38), to(#9b232a)); 
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorstr='#bf2f38', EndColorstr='#9b232a', GradientType=0); /* old IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bf2f38', endColorstr='#9b232a')"; /* IE8/9 */
	zoom: 1;
}

#head > div {
	background: transparent url(headshadow.png) no-repeat right top;
}

#head > div > div, #home #searchform > div {
	background: transparent url(headertexture.svg) repeat;
	overflow: hidden;
}

#head ul {
	position: relative;
	list-style-type: none;
	margin: -20px 0 0 77px;
	padding: 0;
	overflow: hidden;
	z-index: 40;
}

#head li {
	float: left;
	margin: 0 0 0 2px;
}

#head li a, #head li strong {
	display: block;
	font-size: 107.7%;
	padding: 5px 10px;
	background-color: rgba(255,255,255,.5);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#head li strong, #head li a.selected {
	background-color: #fff;
	color: #333;
}

#head form {
	position: absolute;
	top: 22px;
	right: 30px;
}

#head form input, #home #searchform input {
	border-width: 0;
	width: 163px;
	padding: 4px 6px 4px 24px;
	border-radius: 12px;
	outline-width: 0;
	box-shadow: 0 -1px rgba(0,0,0,.2);
	font: 100% "Helvetica Neue", Helvetica, sans-serif;
	color: #333;
	background: #f7f7f7 url(loupe.svg) no-repeat 7px 5px;
	background: url(loupe.svg) 7px 5px no-repeat, -moz-linear-gradient(top, #eee, #f7f7f7);
	background: url(loupe.svg) 7px 5px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#eee), to(#f7f7f7));
}

#head form input:active, #head form input:focus,
#home #searchform input:active, #home #searchform input:focus {
	outline: none;
	box-shadow: 0 0 15px rgba(0,0,0,.6);
}

#head form input.inactive, #home #searchform input.inactive {
	color: #999;
	font-style: italic;
}

/* These styles cannot be combined */
#head form input::-webkit-input-placeholder { font-style: italic; }
#head form input:-moz-placeholder { font-style: italic; }

#head h1 {
	position: relative;
	margin: 11px 0 0 30px;
	z-index: 20;
}

#head h1, #head h1 a {
	width: 179px;
	height: 52px;
}

#head h1 a {
	display: block;
	color: #fff;
	background: transparent url(headlogo.svg) no-repeat;
	overflow: hidden;
}

html.lang-en #head h1 a {
	background-image: url(headlogo-en.svg);
}

#head h1 span {
	position: absolute;
	left: -999px;
	width: 900px;
}

#head #you {
	position: absolute;
	top: 25px;
	right: 240px;
	text-align: right;
	text-shadow: 0 1px rgba(0, 0, 0, .2);
}

#head #you, #head #you a, #head #you strong {
	color: #fff;
}

#localhost {
	position: relative;
	background-color: #264c82;
	color: #fff;
	font-size: 123.1%;
	text-align: left;
	padding: 8px 30px;
}

#localhost a {
	position: absolute;
	top: 8px;
	right: 30px;
	text-align: right;
	color: #d8dee8;
	font-weight: normal;
}

/* Home
------------------------------------------------------ */

html.home {
	background: #fff;
}

body#home {
	background: #fff url(homegradient.png) repeat-x;
	height: auto;
}

#home #content {
	padding: 150px 0 0;
	margin: 0 0 50px;
}

#home #container {
	margin: 0;
	width: auto;
	background-color: transparent;
	text-align: center;
}

#home #localhost {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
}

#home #searchform {
	margin: 24px 0 0;
	color: #fff;
}

#home #searchform, #home #logintro a, #login div.input {
	font-size: 115.4%;
}

#home #searchform input {
	width: 480px;
	margin: 22px 0 0;
	background: #f7f7f7 url(loupe.svg) no-repeat 7px 6px;
	background: url(loupe.svg) 7px 6px no-repeat, gradient(linear, left top, left bottom, from(#eee), to(#f7f7f7));
	background: url(loupe.svg) 7px 6px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#eee), to(#f7f7f7));
	background: url(loupe.svg) 7px 6px no-repeat, -moz-linear-gradient(top, #eee, #f7f7f7);
	background: url(loupe.svg) 7px 6px no-repeat, -o-gradient(linear, left top, left bottom, from(#eee), to(#f7f7f7));
	background: url(loupe.svg) 7px 6px no-repeat, -ms-gradient(linear, left top, left bottom, from(#eee), to(#f7f7f7));
}

#home #searchform p {
	color: rgba(255,255,255,.7);
}

#home #logo {
	width: 325px;
	text-align: left;
	margin: 0 auto;
}

#home #logo h1 {
	color: #999;
	font-size: 169.2%;
	font-weight: bold;
	text-transform: uppercase;
	margin: -30px 0 0 69px;
}

#home #logintro {
	margin: 2.5em 0 2em;
}

#home #logintro a:hover, #home a#toplogin:hover {
	text-decoration: none;
}

#home #logintro a:hover span {
	text-decoration: underline;
}

#home #logintro a, #home #toplogin {
	color: #333;
	text-shadow: 0 1px #fff;
}

#home #toplogin {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px 12px 0 0;
}

#home #toplogin, #home #logintro a strong {
	background-color: #eee;
	border: 1px solid #d8d8d8;
	border-radius: 6px;
	background-image: gradient(linear, left top, left bottom, from(#f3f3f3), to(#e3e3e3));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e3e3e3));
	background-image: -o-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e3e3e3));
	background-image: -ms-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e3e3e3));
	background-image: -moz-linear-gradient(top, #f3f3f3, #e3e3e3);
}

#home #logintro a strong {
	padding: 8px 12px;
	margin: 0 1ex 0 0;
}

#home #toplogin {
	padding: 2px 11px;
	border-radius: 3px;
}

#home a#toplogin:hover, #home #logintro a:hover strong {
	background-color: #eee;
	background-image: gradient(linear, left top, left bottom, from(#fafafa), to(#eaeaea));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eaeaea));
	background-image: -o-gradient(linear, left top, left bottom, from(#fafafa), to(#eaeaea));
	background-image: -ms-gradient(linear, left top, left bottom, from(#fafafa), to(#eaeaea));
	background-image: -moz-linear-gradient(top, #fafafa, #eaeaea);
}

#home a#toplogin:active {
	padding: 3px 11px 1px;
}

#home a#toplogin:active, #home #logintro a:active strong {
	background-color: #eee;
	background-image: gradient(linear, left top, left bottom, from(#e3e3e3), to(#f3f3f3));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f3f3f3));
	background-image: -o-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f3f3f3));
	background-image: -ms-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f3f3f3));
	background-image: -moz-linear-gradient(top, #e3e3e3, #f3f3f3);
}

#home #languages {
	font-size: 92.3%;
	color: #999;
}

#home #languages a {
	color: #999;
	font-weight: normal;
}

#login {
	margin: 0;
	overflow: hidden;
}

#home #login {
	width: 600px;
	margin: 24px auto 0;
	text-align: left;
}

#login form {
	margin: 1px 30px 0 0;
	width: 320px;
	float: left;
	background-color: #f1f1f1;
	border-radius: 6px;
	padding: 20px;
}

#login div.input input {
	width: 12em;
}

#login div.input {
	border: 1px solid #e1e1e1;
	border-width: 1px 0;
	margin-top: -1px;
	padding: 10px 0;
}

#login div.input abbr {
	display: none;
}

#login div.input label {
	padding-top: 5px;
	color: #555;
}

#content #login div.input label {
	width: 8em;
}

#content #login div.input input {
	background: gradient(linear, left top, left bottom, from(#f7f7f7), to(#fff));
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#fff));
	background: -moz-linear-gradient(top, #f7f7f7, #fff);
	background: -o-gradient(linear, left top, left bottom, from(#f7f7f7), to(#fff));
	background: -ms-gradient(linear, left top, left bottom, from(#f7f7f7), to(#fff));
}

#login .buttons {
	margin: 1em 0 0;
}

#login input.button {
	margin-right: 1ex;
}

#login #promo {
	margin-left: 390px;
	line-height: 1.4em;
}

#login #promo h2 {
	margin: -.2em 0 0;
	font-size: 115.4%;
}

#login #promo p {
	margin: .5em 0;
}

#login #promo ul {
	margin: .5em 0;
	padding: 0 0 0 18px;
}

#login #promo li {
	margin: .5em 0;
}

/* Content
------------------------------------------------------ */

#content {
	padding: 30px;
}

#content h1 {
	margin-top: 0;
}

#content ul {
	/*list-style-image: url(bullet.svg);*/
	list-style-type: none;
	padding-left: 2px;
	margin-left: 0;
}

#content ul li {
	background: transparent url(bullet.svg) no-repeat 0 1.1ex;
	padding-left: 20px;
}

#content h1 .subtle, #content h2 .subtle, #content h3 .subtle {
	font-weight: 200;
	color: #666;
	font-style: normal;
}

#content h2 .subtle, #content h3 .subtle {
	font-weight: normal;
}

#content dt {
	clear: left;
	float: left;
	font-weight: bold;
	color: #333;
	width: 130px;
}

#content dd {
	margin: 0 0 10px 135px;
}

#content dl.section {
	border-bottom: 1px solid #e8e8e8;
	margin: 0 -30px 0;
	padding: 30px;
}

#content #coursehead {
	position: relative;
	background: transparent url(jensulrik.png) no-repeat right center;
	margin: -30px -30px 0;
	padding: 30px 30px 30px 160px;
	overflow: hidden;
}

#content #coursehead:after {
	content: "";
	background-color: rgba(0,0,0,.09);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
}

#content #coursehead > * {
	width: 390px;
}

#content #coursehead h1 {
	font-size: 276.9%;
	margin: .3em 0 0;
	line-height: 1.1em;
}

#content #coursehead h1 .coursenumber {
	position: absolute;
	left: 30px;
	color: #999;
	font-weight: normal;
}

#content #coursehead h2.altlang {
	color: #666;
	font-weight: 200;
	font-size: 176.9%;
	margin: .3em 0 .9em;
}

#content #coursehead h2.pointdata, #content #coursehead h3 {
	font-size: 123.1%;
	font-weight: normal;
	color: #666;
	margin: .2em 0;
}

#content #coursehead h2.pointdata {
	color: #333;
}

#content #coursehead #courseschedule {
	position: absolute;
	bottom: 30px;
	right: 260px;
	width: 168px;
}

#content #coursehead #courseschedule table, table.schedule {
	border-spacing: 3px;
	line-height: normal;
	margin: 0 0 0 -3px;
}

#content #coursehead #courseschedule th, #content #coursehead #courseschedule td, table.schedule th, table.schedule td {
	text-align: center;
}

#content #coursehead #courseschedule th, table.schedule th {
	line-height: 0.9em;
}

#content #coursehead #courseschedule td, table.schedule td.empty {
	background-color: #eee;
	color: #ddd;
	padding: 2px 7px;
}

#content #coursehead #courseschedule td.spring {
	background-color: #a3f27a;
}

#content #coursehead #courseschedule td.spring strong {
	color: #060;
	font-weight: normal;
}

#content #coursehead #courseschedule td.autumn {
	background-color: #fc3;
}

#content #coursehead #courseschedule td.autumn strong {
	color: #564512;
	font-weight: normal;
}

#content #coursehead #courseschedule td.allyear {
	background-color: #a4efff;
}

#content #coursehead #courseschedule td.allyear strong {
	color: #334c52;
	font-weight: normal;
}

#content #coursehead #courseschedule p {
	margin: 1em 0 0;
}

#content #coursehead #courseschedule p strong {
	white-space: nowrap;
}

#content #coursehead p {
	margin: 0;
}

#content #courseinfo {
	float: left;
	width: 620px;
}

#content #courseinfo #topcomment {
	background-color: #eee;
	border-radius: 5px;
	padding: 5px 20px;
	margin: 30px 0 -15px;
}

#content #courseinfo ul li {
	margin-bottom: .3em;
}

#content #courserec {
	margin-left: 700px;
	padding: 30px 0 0;
}

#content table.courses {
	width: 1000px;
	margin: 0 -30px;
	border-spacing: 0;
}

#content table.courses th {
	text-transform: uppercase;
	color: #ccc;
}

#content table td, #content table th {
	padding: 3px 7px;
}

#content table td.no, #content table th.no {
	padding: 3px 15px 3px 30px;
}

#content table td.points, #content table th.points {
	padding-right: 30px;
}

table tr.odd {
	background-color: #f9f9f9;
}

#content input, .fakeinput {
	margin: 0;
	padding: 3px 6px;
	background-color: #f7f7f7;
	background: gradient(linear, left top, left bottom, from(#eee), to(#f7f7f7));
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#f7f7f7));
	background: -moz-linear-gradient(top, #eee, #f7f7f7);
	background: -o-gradient(linear, left top, left bottom, from(#eee), to(#f7f7f7));
	background: -ms-gradient(linear, left top, left bottom, from(#eee), to(#f7f7f7));
	font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	border-width: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow:         0 1px #fefffe;
	-moz-box-shadow:    0 1px #fefffe;
	-webkit-box-shadow: 0 1px #fefffe;
	-o-box-shadow:      0 1px #fefffe;
	-ms-box-shadow:     0 1px #fefffe;
}

#content input[type=text]:focus, #content input[type=password]:focus, #modal input[type=text]:focus, #modal input[type=password]:focus, .fakeinputfocus {
	outline: none;
	border-color: #0cf;
	/*box-shadow:         0 0 8px #696;
	-moz-box-shadow:    0 0 8px #696;
	-webkit-box-shadow: 0 0 8px #696;
	-o-box-shadow:      0 0 8px #696;
	-ms-box-shadow:     0 0 8px #696;*/
}

#content input[disabled] {
	color: #999;
	cursor: default;
}

#content input.button, #content input.submit, #content a.button {
	background-color: #bf2f38;
	background-image: gradient(linear, left top, left bottom,         from(#e33844), to(#9b232a));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e33844), to(#9b232a));
	background-image: -moz-linear-gradient(top, #e33844, #9b232a); 
	background-image: -o-gradient(linear, left top, left bottom,  from(#e33844), to(#9b232a));
	background-image: -ms-gradient(linear, left top, left bottom, from(#e33844), to(#9b232a));
	color: #fff;
	font-weight: bold;
	font-size: 123.1%;
	cursor: pointer;
	padding: 3px 12px;
	text-decoration: none;
	text-shadow: 0 -1px #9b232a;
	border-width: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px #f7faf7;
	-moz-box-shadow: 0 1px #f7faf7;
	-webkit-box-shadow: 0 1px #f7faf7;
	-o-box-shadow: 0 1px #f7faf7;
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorstr='#e33844', EndColorstr='#9b232a', GradientType=0); /* old IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e33844', endColorstr='#9b232a')"; /* IE8/9 */
	zoom: 1;
}

#content input.button:hover, #content input.submit:hover, #content a.button:hover {
	text-decoration: none;
	background-color: #d8564e;
	background-image: gradient(linear, left top, left bottom,         from(#e46356), to(#b12c32));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e46356), to(#b12c32));
	background-image: -moz-linear-gradient(top, #e46356, #b12c32); 
	background-image: -o-gradient(linear, left top, left bottom,  from(#e46356), to(#b12c32));
	background-image: -ms-gradient(linear, left top, left bottom, from(#e46356), to(#b12c32));
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorstr='#e46356', EndColorstr='#b12c32', GradientType=0); /* old IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e46356', endColorstr='#b12c32')"; /* IE8/9 */
	text-shadow: 0 -1px #b12c32;
}

#content input.button:active, #content input.submit:active, #content a.button:active {
	background-image: gradient(linear, left top, left bottom,         from(#7e1c23), to(#cc313c));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7e1c23), to(#cc313c));
	background-image: -moz-linear-gradient(top, #7e1c23, #cc313c); 
	background-image: -o-gradient(linear, left top, left bottom,  from(#7e1c23), to(#cc313c));
	background-image: -ms-gradient(linear, left top, left bottom, from(#7e1c23), to(#cc313c));
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorstr='#7e1c23', EndColorstr='#cc313c', GradientType=0); /* old IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7e1c23', endColorstr='#cc313c')"; /* IE8/9 */
	text-shadow: 0 1px #7e1c23;
}

#content div.input label {
	float: left;
	clear: left;
	width: 10em;
}

table.schedule {
	font-size: 138.5%;
	width: 80%;
	margin: 0 auto;
}

table.schedule td {
	padding: 2px 7px;
	width: 20%;
}

table.schedule td.course {
	background-color: #ccc;
	color: #999;
}

body.js table.schedule td.course:hover {
	background-color: #ddd;
	cursor: pointer;
}

table.schedule td.course a {
	display: block;
	color: #999;
	font-weight: normal;
	/*background-color: #ff0;*/
}

body.js table.schedule td.course a:hover {
	text-decoration: none;
}


table.schedule td.basic, .pointsprogress .basic { background-color: #e27474; } /* Red */
table.schedule td.basic a { color: #a95757; }
table.schedule td.basic a strong, .pointsprogress .basic { color: #391d1d; }
body.js table.schedule td.basic:hover { background-color: #eca2a2; }
table.schedule td.main, .pointsprogress .main { background-color: #a1a6c1; } /* Blue */
table.schedule td.main a { color: #797c91; }
table.schedule td.main a strong, .pointsprogress .main { color: #282a30; }
body.js table.schedule td.main:hover { background-color: #c0c3d5; }
table.schedule td.project, .pointsprogress .project { background-color: #e6e768; } /* Yellow */
table.schedule td.project a { color: #acad4e; }
table.schedule td.project a strong, .pointsprogress .project { color: #3a3a1a; }
body.js table.schedule td.project:hover { background-color: #eeef9a; }


#content h1#intro {
	text-align: center;
	font-weight: normal;
	font-size: 250%;
	color: #666;
	margin: 0 0 30px;
}

#content p#uninotice, #content .extreme p {
	margin: 50px 0 0;
	text-align: center;
	font-size: 138.5%;
}

.pointsprogress {
	position: relative;
	overflow: hidden;
	background-color: #eee;
	width: 79%;
	font-size: 138.5%;
	margin: 1em auto;
}

.pointsprogress div {
	position: relative;
	text-align: right;
	background-color: #ccc;
	color: #333;
	font-weight: bold;
	padding: 4px 7px 4px 0;
	z-index: 10;
}

.pointsprogress span {
	position: absolute;
	top: 4px;
	right: 7px;
	color: #bbb;
	z-index: 5;
}










