/* Table */
table {
	width: 800px;
}
table td {
	padding-bottom: 10px;
	vertical-align: top;
}
table th {
	text-align: left;
}
/* CSS3 start */
td:nth-child(1) {
	width: 150px;
}
td:nth-child(2) {
	width: 650px;
}
/* CSS3 end */

/* Course type list */
ul.course-types {
	padding: 0;
	margin: 0;
}
ul.course-types li {
	list-style-type: none;
}

