/*
 * KURSUSBASE 2012
 * IE styles
 */

/* Replacing SVG with PNG */
#head h1 a {
	background-image: url(headlogo.png);
}

html.lang-en #head h1 a {
	background-image: url(headlogo-en.png);
}

#head form input, #home #searchform input {
	background-image: url(loupe.png);
}

#head > div > div, #home #searchform > div {
	background-image: url(headertexture.png);
}

/*#content ul {
	list-style-image: url(bullet.png);
}*/

#content ul li {
	background-image: url(bullet.png);
}

/* ... or GIF for IE lte 6 */

* html #head h1 a {
	background-image: url(headlogo.gif);
}

* html.lang-en #head h1 a {
	background-image: url(headlogo-en.gif);
}

* html #head form input, * html #home #searchform input {
	background-image: url(loupe.gif);
}

* html #content ul li {
	background-image: url(bullet.gif);
}
