<h1><a href="/"><span>DTU Kursusbase</span></a></h1>
<%= render_navigation %>
<!--
<ul>
	<li><a href="/courses">Kurser</a></li>
	<li><a href="/plan">Studieplanen</a></li>
	<li><a href="/schedule">Skema</a></li>
</ul>
-->
<form action="/search" method="get">
	<input type="text" name="q" value="">
</form>