<!DOCTYPE html>
<html>
<head>
  <title>Kursusbase2012</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page-wrapper">
		<div id="page">
			<div id="main-wrapper">
				<div id="main">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>



</body>
</html>
